    h1,h2{
        color:rgb(0, 35, 75);
        text-align:center;
        background-color: black;
    }
    img{
        width: 300px;
        corner-end-end-shape: calc();
    }
    body{
        text-align: center;
    }